body{
  background-image: url("../public/mountain.jpg");
  background-size: 100vw 100vh;
}

.main {
  font-family: Cambria, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  user-select: none;
}

h1 {
  margin: 0%;
  font-family: Cambria, sans-serif; 
  font-size: 2em;
}

.room-tools{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: column;
}

#room-key-input{
  text-align: center;
  width: 15vw;
}

#key-display{
  margin: 0%;
  user-select: text;
  border-style: groove;
  background-color: white;
  text-align: center;
}

.game-container {
  display: flex;
  align-items: center;
}

#game-canvas{
  width: 60vw;
  height: 60vh;
  border: 2px solid black;
  background-color: white;
  border-right: 0px;
}

.chat-container{
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  border: 2px solid black;
  border-left: 0px;
  width: 35vw;
}

#chat-box{
  font-size: small;
  background-color: gainsboro;
  flex-grow: 1;
  overflow-y: auto;
  user-select: text;
  width: 35vw;
  border-top: 0px;
}

#chat-box .message:nth-child(odd){
  background-color: lightblue;
}

.user-icon{
  width: 30px;
  height: 30px;
}

.message{
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.username{
  min-width: 60px;
  margin-right: 3%;
}

.message-form{
  width: 35vw;

}

textarea{
  resize: none;
}

form{
  display: flex;
  flex-direction: column;
}