/* global styles */
body {
  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main {
  font-family: Cambria, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

h1 {
  color: white;
  display: flex;
  margin: 0%;
  font-family: Cambria, sans-serif;
  font-size: 2em;
}

/* mobile styles */
@media screen and (max-width: 767px) {
  #login {
    position: absolute;
    top: 30%;
  }

  .room-tools {
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: space-evenly;
  }

  #key-display {
    user-select: text;
    text-align: center;
    align-content: center;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
    margin: 0px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
    border: 2px solid black;

    #game-canvas {
      background-color: white;
    }
  }

  #clear-canvas{
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
  }

  #color-options{
    position: absolute;
    margin: 4px;
    top: 0;
    right: 0;
  }

  .chrome-picker{
    position: absolute;
  }

  .chat-container {
    margin-top: 0px;
    padding: 0px;
    background-color: lightgray;
    margin-bottom: 0px;

    #chat-box {
      user-select: text;
      height: 35vh;
      overflow: auto;
    }

    .message {
      display: flex;
      flex-direction: row;
      align-items: center;

      .username {
        margin-right: 24px;
        padding: 4px;
      }
    }

    .message:nth-child(odd) {
      background-color: lightblue;
    }

    #message-input {
      height: 60px;
      width: 100%;
      padding: 0px;
      margin: 0px;
      border: none;
      resize: none;
      outline: none;
    }
  }

  #logout {
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
  }
}

/* desktop styles */
@media screen and (min-width: 768px) {
  #login {
    position: absolute;
    top: 30%;
  }

  .room-tools {
    display: flex;
    flex-direction: column;
    height: 9vh;
    justify-content: space-evenly;
  }

  #key-display {
    user-select: text;
    text-align: center;
    align-content: center;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
    margin: 0px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    #game-canvas {
      width: 720px;
      height: 540px;
      background-color: white;
      border: 2px solid black;
      border-right: none;
    }
  }

  #clear-canvas{
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
  }

  #color-options{
    position: absolute;
    margin: 4px;
    top: 0;
    right: 0;
  }

  .chrome-picker{
    position: absolute;
  }

  .chat-container {
    margin-top: 0px;
    padding: 0px;
    background-color: lightgray;
    margin-bottom: 0px;
    height: 540;
    width: 300px;
    border: 2px solid black;

    #chat-box {
      user-select: text;
      height: 460px;
      overflow: auto;
    }

    .message {
      font-size: small;
      display: flex;
      flex-direction: row;
      align-items: center;

      .username {
        margin-right: 16px;
        padding: 4px;
      }
    }

    .message:nth-child(odd) {
      background-color: lightblue;
    }

    #message-input {
      margin: 0px;
      padding: 0px;
      height: 76px;
      width: 300px;
      border: none;
      resize: none;
      outline: none;
    }
  }

  #logout {
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
  }
}
